<div class="py-5 bg-secondary">
    <div class="container">
        <div class="mb-3">
            <span class="text-uppercase font-weight-bold">Client Password Reset</span>
        </div>

        <div class="tab-content">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="text-center" id="resetArea">
                        <div id="emailArea">
                            <div class="p-5">
                                <form class="" [formGroup]="resetForm" (ngSubmit)="resetUser()">
                                    <h2 class="h3 mb-3 text-center">Please enter email.</h2>
                                    <br>
                                    <em id="onSucc2" class="text-success"></em>
                                    <br>
                                    <div class="form-group text-left" style="margin: 0 15% 1rem 15%;">
                                        <label>Email</label> <em *ngIf="resetForm.get('email').hasError('required')"
                                            style="color: red;"> *</em>
                                        <input type="email" (keyup)="checkEmail($event)" class="form-control"
                                            formControlName="email" placeholder="Enter email" required>
                                    </div>
                                    <br>
                                    <div class="col-md-12" align="center">
                                        <button type="submit" class="btn btn-primary btn-sm" disabled id="btnReset">
                                            <span *ngIf="resetloading"><i class="fa fa-spin fa-spinner"></i></span>
                                            &nbsp;&nbsp;Send Token
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button type="button" routerLink="/login" class="btn btn-dark btn-sm">
                                            Login
                                        </button>
                                    </div>
                                </form>
                                <hr>
                                <!-- <div class="text-center">
                                    <a class="small" style="cursor: pointer;color: blue;"
                                        (click)="showUpdateArea('updateArea', 'emailArea')">Already have Reset
                                        Token?</a>
                                </div> -->
                            </div>
                        </div>
                        <div id="updateArea" style="display: none;">
                            <div class="p-5">
                                <h2 class="h3 mb-3 text-center">Reset Password</h2>
                                <br>
                                <em id="onSucc2" class="text-success"></em>
                                <br>
                                <form [formGroup]="updateForm" class="text-center"
                                    (ngSubmit)="resetUserPassword(updateForm)">
                                    <div align="center">
                                        <div class="col-md-8 text-left">
                                            <div class="form-group">
                                                Reset Token <em *ngIf="updateForm.get('token').hasError('required')"
                                                    style="color: red;"> *</em>
                                                <input type="text" class="form-control form-control-user"
                                                    formControlName="token" placeholder="Copy and Paste Token here">
                                            </div>
                                            <div class="form-group">
                                                New Password <em
                                                    *ngIf="updateForm.get('newPassword').hasError('required')"
                                                    style="color: red;"> *</em> <em id="pwdErr"
                                                    style="color: red;font-size: 12px;"></em>
                                                <input type="password" class="form-control form-control-user"
                                                    id="myPass1" formControlName="newPassword"
                                                    placeholder="New Password">
                                            </div>
                                            <div class="form-group">
                                                Confirm Password <em id="pwdErr2"
                                                    style="color: red;font-size: 12px;"></em>
                                                <input type="password" class="form-control form-control" id="myPass2"
                                                    (keyup)="checkPasswords()" placeholder="Confirm Password">
                                            </div>
                                            <br>
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-info btn-sm"
                                                    (click)="showUpdateArea('emailArea', 'updateArea')">
                                                    <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back
                                                </button>
                                                &nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <span *ngIf="updateloading"><i
                                                            class="fa fa-spin fa-spinner"></i></span>
                                                    &nbsp;&nbsp;Reset Password
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>