<div class="py-5 bg-secondary">
    <div class="container">
        <div class="mb-3">
            <span class="text-uppercase font-weight-bold">User Change Password</span>
        </div>

        <div class="tab-content">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="p-5">
                        <form [formGroup]="changeForm" class="text-center" (ngSubmit)="changeUserPassword(changeForm)">
                            <div align="center">
                                <div class="col-md-8 text-left">
                                    <div class="form-group">
                                        Old Password <em *ngIf="changeForm.get('oldPassword').hasError('required')" style="color: red;"> *</em>
                                        <input type="password" class="form-control form-control-user"
                                            formControlName="oldPassword"
                                            placeholder="Old Password">
                                    </div>
                                    <div class="form-group">
                                        New Password <em *ngIf="changeForm.get('newPassword').hasError('required')" style="color: red;"> *</em> <em id="pwdErr" style="color: red;font-size: 12px;"></em>
                                        <input type="password" class="form-control form-control-user"
                                            id="myPass1" formControlName="newPassword" placeholder="New Password">
                                    </div>
                                    <div class="form-group">
                                        Confirm Password <em *ngIf="changeForm.get('matchingPassword').hasError('required')" style="color: red;"> *</em> <em id="pwdErr2" style="color: red;font-size: 12px;"></em>
                                        <input type="password" class="form-control form-control"
                                            id="myPass2" (keyup)="checkPasswords()" formControlName="matchingPassword" placeholder="Confirm Password">
                                    </div>
                                    <br>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <span *ngIf="loader"><i class="fa fa-spin fa-spinner"></i></span>&nbsp;&nbsp;
                                            Update Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>