<div >
   

<!--Tabs Begin-->    
<div class="tabset" id="desktop">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
    <label for="tab1" style="font-family: mont;"><i class="fa fa-exchange"></i> Money Transfer (Remittances)</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
    <label for="tab2" style="font-family: mont;"  class="ex"><i class="fa fa-money"></i> Online Forex Trading</label>
    <!-- Tab 3 -->
    <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
    <label for="tab3" style="font-family: mont;" class="on"><i class="fa fa-credit-card"></i> Pay for Services Online</label>
     <!-- Tab 4 -->
        <input type="radio" name="tabset" id="tab4" aria-controls="hela">
        <label for="tab4" style="font-family: mont;" class="on"><i class="fa fa-exchange"></i> Hela</label>

    <label for="none" style="float:right;">Call Us On : +263713111500</label>


    <div class="tab-panels">
      <section id="marzen" class="tab-panel">
     <!--Start New Slider 1-->
 <div id="homepage-slider" class="st-slider">
  
               <input type="radio" class="cs_anchor radio" name="slider" id="slide1" style="display:none;"/>
               <input type="radio" class="cs_anchor radio" name="slider" id="slide2" style="display:none;"/>
               <input type="radio" class="cs_anchor radio" name="slider" id="slide3" style="display:none;"/>
               <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" style="display:none;"/>
   

    <div class="images">
       <div class="images-inner">
        <!-- start slide 1 -->
        <div class="image-slide">
          <div class="image bg-white" style="background:url('assets/img/qq.jpg');">
            <!--Slider Card Starts-->   
            <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
            <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem;">Sending Money Home</h2>
           <p>Kyzen Fx is here to serve. Allow your relatives who are abroad <br>to send you money instantly with Kyzen Fx</p>
    <a routerLink="/send-money" style="float:left;" id="sliderbutton"> <button _ngcontent-uxo-c26="" routerlink="/send-money" routerLinkActive="active" class="btn btn-block btn-primary"  style="background: #fca901; border-color: #fca901; color: #000;" tabindex="0"> Send Money Via Portal&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button></a>

    <a href="https://web.whatsapp.com/send?phone=+263713111500&amp;text=Hi,%20I%20need%20to%20send%20money%20on%20KyzenFX" style="float:left; margin-left:10px;" id="sliderbutton"> <button _ngcontent-uxo-c26="" routerlink="/send-money" routerLinkActive="active" class="btn btn-block btn-primary"  style="background: #fca901; border-color: #fca901; color: #000;" tabindex="0"> <i class="fa fa-whatsapp" style="font-size:18px;"></i> Send Money&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button></a>


           </div>
            <!--Slider Card Ends-->  
        </div>
        </div>
             <!-- ends slide 1 -->

           <!-- start slide 2 -->
        <div class="image-slide">
            <div class="image bg-white" style="background:url('assets/img/old.jpg');">
              <!--Slider Card Starts-->   
              <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
              <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem;">Remittence Parent Care</h2>
             <p>Kyzen Fx ensures that money that you send to your elderly <br>at home is received safe and sound</p>
             <a routerLink="/register" style="float:left;" id="sliderbutton"> 
      <button _ngcontent-uxo-c26="" routerlink="/send-money" class="btn btn-block btn-primary"  style="background: #fca900; border-color: #fca900; color: #000;" tabindex="0"> Get Started Now&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button></a>
             </div>
              <!--Slider Card Ends-->  
          </div>
          </div>
          <!-- end slide 2 -->

           <!-- start slide 3 -->
          <div class="image-slide">
            <a  href="https://one.exness-track.com/intl/en/a/c_q2h4lh8x50">
<div class="image bg-white" style="background:url('assets/img/EN_CRYPTO_HUMAN_DARK_WOMAN_1200x628_px.jpg');">
              <!--Slider Card Starts-->   
              <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;"> <h2 style="font-family: mont; font-weight: 900; font-size: 50px; color:#fed31a;">Realtime Forex Trading</h2>
             <p style="color:#fff;">Characterised by low and stable spreads</p>
     
   
             






             </div>
           <!--Slider Card Ends-->  
          </div></a>
          </div>
           <!-- start slide 3 -->

          </div>
        </div>
       <div class="fake-radio" style="display:none;">
          <label for="slide1" class="radio-btn"></label>
          <label for="slide2" class="radio-btn"></label>
          <label for="slide3" class="radio-btn"></label>
        </div>
    <div class="labels" style="display:none;">
        <label for="slide1" class="label">text slide 1</label>
        <label for="slide2" class="label">text slide 2</label>
        <label for="slide3" class="label">text slide 3</label>
    </div>
</div>
<!--End New Slider 1-->


    </section>





    
    <section id="rauchbier" class="tab-panel">
      <!--Start New Slider 1-->
 <div id="homepage-slider" class="st-slider2">
  
    <input type="radio" class="cs_anchor radio" name="slider2" id="slide12" style="display:none;"/>
    <input type="radio" class="cs_anchor radio" name="slider2" id="slide22" style="display:none;"/>
    <input type="radio" class="cs_anchor radio" name="slider2" id="slide32" style="display:none;"/>
    <input type="radio" class="cs_anchor radio" name="slider2" id="play12" checked="" style="display:none;"/>


<div class="images">
<div class="images-inner">
<!-- start slide 1 -->
<div class="image-slide">
<div class="image bg-white" style="background:url('assets/img/exness.jpg');">
 <!--Slider Card Starts-->   
 <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
 <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem;">Exness For You</h2>
<p>Online trading with better-than-market conditions. <br>Trade across multiple markets with the most stable<br> and reliable pricing in the industry.</p>
<a href="https://one.exness-track.com/a/c_q2h4lh8x50" style="float:left; margin-left:10px;" id="sliderbutton">
<button _ngcontent-uxo-c26="" routerlink="https://one.exness-track.com/a/c_q2h4lh8x50"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #000;" tabindex="0"> Get Started&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
</a>
</div>
 <!--Slider Card Ends-->  
</div>
</div>
  <!-- ends slide 1 -->

<!-- start slide 2 -->
<div class="image-slide">
 <div class="image bg-white" style="background:url('assets/img/x.jpg');">
   <!--Slider Card Starts-->   
   <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
   <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem;">&nbsp;</h2>
  <p style="padding-top:20px;">With Exness Online Trading Plaform</p>


  <a href="https://one.exness-track.com/a/c_q2h4lh8x50" style="float:left; margin-left:10px;" id="sliderbutton">
    <button _ngcontent-uxo-c26="" routerlink="https://one.exness-track.com/a/c_q2h4lh8x50"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #000;" tabindex="0"> Start Trading&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
    </a>

  </div>
   <!--Slider Card Ends-->  
</div>
</div>
<!-- end slide 2 -->

<!-- start slide 3 -->
<div class="image-slide">
 <div class="image bg-white" style="background:url('assets/img/b.jpg');">
   <!--Slider Card Starts-->   
   <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;"> <h2 style="font-family: mont; font-weight: 900; font-size: 50px; color:#ffcf03; ">Trading Plans</h2>
  <p style="color:#fff;">Financial markets require traders to build their own trading<br> plans. It is not an easy task, but definitely a worthy one</p>


  <a href="https://one.exness-track.com/a/c_q2h4lh8x50" style="float:left; margin-left:10px;" id="sliderbutton">
    <button _ngcontent-uxo-c26="" routerlink="https://one.exness-track.com/a/c_q2h4lh8x50"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #000;" tabindex="0"> View Markets&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
    </a>

  </div>
<!--Slider Card Ends-->  
</div>
</div>
<!-- start slide 3 -->

</div>
</div>
<div class="fake-radio" style="display:none;">
<label for="slide1" class="radio-btn"></label>
<label for="slide2" class="radio-btn"></label>
<label for="slide3" class="radio-btn"></label>
</div>
<div class="labels" style="display:none;">
<label for="slide1" class="label">text slide 1</label>
<label for="slide2" class="label">text slide 2</label>
<label for="slide3" class="label">text slide 3</label>
</div>
</div>
<!--End New Slider 1-->
    </section>
     
     
    <section id="dunkles" class="tab-panel">
         <!--Start New Slider 1-->
 <div id="homepage-slider" class="st-slider3">
<input type="radio" class="cs_anchor radio" name="slider3" id="slide13" style="display:none;"/>
<input type="radio" class="cs_anchor radio" name="slider3" id="slide23" style="display:none;"/>
<input type="radio" class="cs_anchor radio" name="slider3" id="slide33" style="display:none;"/>
<input type="radio" class="cs_anchor radio" name="slider3" id="play13" checked="" style="display:none;"/>


<div class="images">
<div class="images-inner">
<!-- start slide 1 -->
<div class="image-slide">
<div class="image bg-white" style="background:url('assets/img/ds.jpg');">
 <!--Slider Card Starts-->   
 <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
 <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem; color:#fff;">So Much More</h2>
<p style="color:#fff;">Subscribe for your DSTV via Kyzen FX Web Application</p>
<button _ngcontent-uxo-c26="" routerlink="https://web.whatsapp.com/send?phone=+263713111500&text=Hi,%20I%20need%20to%20pay%20money%20for%20mydstv" class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #fff;" id="sliderbutton" tabindex="0"> Pay Online Now&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
</div>
 <!--Slider Card Ends-->  
</div>
</div>
  <!-- ends slide 1 -->
<!-- start slide 2 -->


<div class="image-slide">
 <div class="image bg-white" style="background:url('assets/img/avon.jpg');">
   <!--Slider Card Starts-->   
   <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
   <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem; color:#000;">Avon Account Topup</h2>
  <p style="color:#fff;">You can now buy any avon products of your choice on Kyzen Fx platform.<br> Start buying now from the comfort of your home</p>
<button _ngcontent-uxo-c26="" routerlink="/send-money" class="btn btn-block btn-primary" style="background: #fca900; border-color: #fca900; color: #65078f;" id="sliderbutton" tabindex="0"> Pay Avon&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
  </div>
   <!--Slider Card Ends-->  
</div>
</div>
<!-- end slide 2 -->



<!-- start slide 3 -->
<div class="image-slide">
 <div class="image bg-white" style="background:url('assets/img/justine.jpg');">
   <!--Slider Card Starts-->   
   <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;"> <h2 style="font-family: mont; font-weight: 900; font-size: 40px; color:#1e93b9;">Justine Payments</h2>
  <p style="color:#fff;">Justine account payments now being<br> done onlinr via Kyzen FX</p>
<button _ngcontent-uxo-c26="" routerlink="https://web.whatsapp.com/send?phone=+263713111500&text=Hi,%20I%20need%20to%20send%20money%20on%20KyzenFX" class="btn btn-block btn-primary" style="background: #1e93b9; border-color: #1e93b9; color: #fff;" id="sliderbutton" tabindex="0"> Make Payment&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
  </div>
<!--Slider Card Ends-->  
</div>
</div>
<!-- end slide 3 -->










</div>
</div>
<div class="fake-radio" style="display:none;">
<label for="slide1" class="radio-btn"></label>
<label for="slide2" class="radio-btn"></label>
<label for="slide3" class="radio-btn"></label>
</div>
<div class="labels" style="display:none;">
<label for="slide1" class="label">text slide 1</label>
<label for="slide2" class="label">text slide 2</label>
<label for="slide3" class="label">text slide 3</label>
</div>
</div>
<!--End New Slider 1-->
    
    </section>





     
    <section id="hela" class="tab-panel">
        <!--Start New Slider 1-->
<div id="homepage-slider" class="st-slider4">
<input type="radio" class="cs_anchor radio" name="slider4" id="slide14" style="display:none;"/>
<input type="radio" class="cs_anchor radio" name="slider4" id="play14" checked="" style="display:none;"/>


<div class="images">
<div class="images-inner">
<!-- start slide 1 -->
<div class="image-slide">
<div class="image bg-white" style="background:url('assets/img/helam.jpg');">
<!--Slider Card Starts-->   
<div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
<h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem; color:#65088f;">Sending Money Home</h2>
<p style="color:#999;">You can now send money to Zimbabwe via Hela.App</p>
<button _ngcontent-uxo-c26="" onclick="location.href='https://hela.money'"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #fff;" id="sliderbutton" tabindex="0"> Get Started Now&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
</div>
<!--Slider Card Ends-->  
</div>
</div>
 <!-- ends slide 1 -->


<!-- start slide 1 -->
<div class="image-slide">
    <div class="image bg-white" style="background:url('assets/img/helam.jpg');">
    <!--Slider Card Starts-->   
    <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
    <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem; color:#65088f;">Reliable & Convenient</h2>
    <p style="color:#999;">You can now send money to Zimbabwe via Hela.App</p>
    <button _ngcontent-uxo-c26="" onclick="location.href='https://hela.money'"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #fff;" id="sliderbutton" tabindex="0"> Get Started Now&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
    </div>
    <!--Slider Card Ends-->  
    </div>
    </div>
     <!-- ends slide 1 -->
<!-- start slide 1 -->
<div class="image-slide">
    <div class="image bg-white" style="background:url('assets/img/helam.jpg');">
    <!--Slider Card Starts-->   
    <div style="padding-top: 10%; padding-bottom: 20%; padding-left: 10%;">
    <h2 style="font-family: mont; font-weight: 900; font-size: 50px; margin-bottom: 0.2rem; color:#65088f;">Lowest Transfer Rates</h2>
    <p style="color:#999;">You can now send money to Zimbabwe via Hela.App</p>
    <button _ngcontent-uxo-c26="" onclick="location.href='https://hela.money'"  class="btn btn-block btn-primary" style="background: #fca901; border-color: #fca901; color: #fff;" id="sliderbutton" tabindex="0"> Get Started Now&nbsp;&nbsp;<i _ngcontent-uxo-c26="" class="ni ni-send"></i></button>
    </div>
    <!--Slider Card Ends-->  
    </div>
    </div>
     <!-- ends slide 1 -->

</div>
</div>
<div class="fake-radio" style="display:none;">
<label for="slide1" class="radio-btn"></label>
<label for="slide2" class="radio-btn"></label>
<label for="slide3" class="radio-btn"></label>
</div>
<div class="labels" style="display:none;">
<label for="slide1" class="label">text slide 1</label>
<label for="slide2" class="label">text slide 2</label>
<label for="slide3" class="label">text slide 3</label>
</div>
</div>
<!--End New Slider 1-->
</section>


    </div>
    
  </div>

<!--Tabs End-->
<!--start section-->
<div class="row col-md-12" style="background: rgb(222,221,219); background: linear-gradient(90deg, rgba(255,255,219,1) 0%, rgba(255,255,255,1) 35%, rgba(222,221,219,1) 100%); margin-left: 0px; border-top:none;">
<!--start exness component-->
    <div class="col-md-4">  
 <div class="card-footer text-right" style="background-color:transparent; color:#65088f; font-size:30px;">
     <span style="font-weight:bold;font-family: mont;">Welcome to Kyzen FX</span>
     <p>Today I want to </p>
    </div>
</div>
<!--end component-->
<!--start component-->
<div class="col-md-3" style="padding-right:0px; padding-left:0px;" id="mcontainer">  
    <div class="card-footer text-center" style="background-color:transparent;">
      <button class="btn btn-block btn-primary" onclick="location.href='https://one.exness-track.com/a/c_q2h4lh8x50'" >
            Sign Up on Exness&nbsp;&nbsp;<i class="fa fa-user"></i>
        </button>
        <a class="btn btn-block btn-primary" id="mbutton" target="_blank" href="https://one.exness-track.com/a/c_q2h4lh8x50">
            Sign In on Exness &nbsp;&nbsp;<i class="fa fa-lock"></i>
        </a>
       </div>
   </div>
   <!--end component-->

<!--start component-->
<div class="col-md-3" style="padding-right:0px; padding-left:0px;" id="mcontainer">  
    <div class="card-footer text-center" style="background-color:transparent;">
        <button class="btn btn-block btn-primary" onclick="location.href='https://web.whatsapp.com/send?phone=+263713111500&text=Hi,%20I%20need%20to%20make%20a%20DSTV%20Payment%20on%20KyzenFX'" >
            Buy DSTV&nbsp;&nbsp;<i class="fa fa-tv"></i>
        </button>
        <a class="btn btn-block btn-primary" target="_blank" href="{{chartUrl}}">
           Chat With Us &nbsp;&nbsp;<i class="ni ni-chat-round"></i>
        </a>
       </div>
   </div>
   <!--end component-->

<div class="col-md-3" style="padding-right:0px; padding-left:0px;" id="mcontainer">
    <div class="card-footer text-center" style="background-color:transparent;">
        <button class="btn btn-block btn-primary" (click)="setVariable()" routerLink="/send-money" style="background:#fca900; border-color:#fca900; color:#65078f;">
            Send Money&nbsp;&nbsp;<i class="ni ni-send"></i>
        </button>
        <a class="btn btn-block btn-primary" target="_blank" href="{{chartUrl}}">
            Pay for a Service&nbsp;&nbsp;<i class="fa fa-credit-card"></i>
        </a>
    </div>
    </div>


</div>
<!--end section -->
    <div class="row col-md-12 p-100" style="background:#fff;">


        <div class="col-md-8">
            <div class="container shape-container d-flex align-items-center py-sm pt-100">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-10 text-left pl-60">                       
                            <span class="lead text-black-50">                   
    <h1 class="hero-heading wp-block-heading" id="h-the-easiest-wayto-transfer-moneyaround-africa-and-asia" style="line-height:1.2em;">
       <strong>
         <span id="sectio-title" style="color:#65088f;" class="has-inline-color">
           Kyzen Fx Money Transfer</span>
       </strong>
        <br><span id="title-para">The easiest and most convenient way to <b>send</b> and <b>receive</b> money.</span>
    </h1>                     
        </span>
                            <div class="btn-wrapper mt-3" *ngIf="!authService.isLoggedIn">
                                <a routerLink="/login"
                                    class="btn btn-lg btn-info btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-user"></i></span>
                                    <span class="btn-inner--text">Login</span>
                                </a>
                                <a routerLink="/register"
                                    class="btn btn-lg btn-primary btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                                    <span class="btn-inner--text">
                                        <span>Register</span>
                                    </span>
                                </a>
                            </div>
                            <div class="btn-wrapper mt-3" *ngIf="authService.isLoggedIn">
                                <a routerLink="/send-money"
                                    class="btn btn-lg btn-info btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--text">Send Money</span>
                                    <span class="btn-inner--icon"><i class="fa fa-send"></i></span>
                                </a>
                                <a routerLink="/receipients"
                                    class="btn btn-lg btn-primary btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                                    <span class="btn-inner--text">
                                        <span>Recipients</span>
                                    </span>
                                </a>
                            </div>

                            <div class="mt-3 ml-100 text-left">
                                <p>
                                    <i class="text-success fa fa-check"></i> Wide Payout Network <br>
                                    <i class="text-success fa fa-check"></i> Instant Cash Collection <br>
                                    <i class="text-success fa fa-check"></i> 100% Safe &amp; Reliable
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="container shape-container d-flex align-items-center py-sm">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-11">
                            <div class="card" style="border-radius:15px;">
                                <div class="card-header" style="background-color: none;">
                               
         <span style="color:#65088f;font-family: inherit;font-weight: 900; font-size:20px;" classx="has-inline-color">
                                        Get Started</span>
                                </div>
                                <div class="card-body" style="background:rgba(233,235,232,0.5); border-radius:0px 0px 15px 15px;">
                                    <div>
                                        <div class="mb-2">
                                            <span class="text-lowercasex text-black-50 font-weight-bold">Sender Pays *</span>
                                        </div>
                                        <div class="input-group">
                                            <select name="senderCountry" (change)="selectedCountry('senderCountry', 'sender')" class="form-control parent-dropdown col-md-4" id="senderCountry" >
                                                <option value="" selected>Country</option>
                                                <option *ngFor="let c of countries;">{{ c.name }}</option>
                                            </select>

                                            <select name="senderCurrency" class="form-control parent-dropdown col-md-4" id="senderCurreny">
                                                <option value="" selected>Currency</option>
                                                <option *ngFor="let c of sCurrency;">{{ c.currencyCode }}</option>
                                            </select>
                                            
                                            <input type="text" (keypress)="isNumberKey($event)" placeholder="0.00" (focus)="clearField('receiverAmount')" name="senderAmount" class="form-control font-weight-bold text-primary text-center col-md-4" id="senderAmount">
                                            
                                        </div>
                                    </div>
                               
                                    <div><br>
                                        <div class="mb-2 mt-10">
                                            <span class="text-lowercasex text-black-50 font-weight-bold">Receiver Gets</span>
                                        </div>
                                        <div class="input-group">
                                            <select name="receiverCountry" (change)="selectedCountry('receiverCountry', 'receiver')" class="form-control parent-dropdown col-md-4" id="receiverCountry">
                                                <option value="" selected>Country</option>
                                                <option *ngFor="let c of countries;">{{ c.name }}</option>
                                            </select> 

                                            <select name="receiverCurrency" class="form-control parent-dropdown col-md-4" id="receiverCurreny">
                                                <option value="" selected>Currency</option>
                                                <option *ngFor="let c of rCurrency;">{{ c.currencyCode }}</option>
                                            </select>

                                            <input type="text" (keypress)="isNumberKey($event)" placeholder="0.00" (focus)="clearField('senderAmount')" name="receiverAmount" class="form-control col-md-4 text-center font-weight-bold text-primary" id="receiverAmount">

                                        </div>
                                    </div>
                            
                                    <div class="mb-3"><br>
                                        <div>
                                            <span class="text-lowercasex text-black-50 font-weight-bold">Fee Charge: </span>
                                            <span class="text-warningx font-weight-bolder" id="myFee" style="color:#65088f;">0</span>
                                            <br>
                                            <em class="text-mutedx small" style="color:
                                            #adb5bd;">* Fees included in total amount to be sent.</em>
                                        </div>
                                        <div hidden>
                                            <span class="text-lowercase text-black-50 font-weight-bold">Exchange Rate: </span>
                                            <span class="text-info font-weight-bolder" id="myExRate">0</span>
                                        </div>
                                    </div>
                           
                                    <div>
                                        <div class="text-center">
                                            <button class="btn btn-lg btn-primary btn-icon mb-3 mb-sm-0" (click)="determineCalc()">
                                                <span *ngIf="loader"><i class="fa fa-spin fa-spinner"></i></span>&nbsp;&nbsp;
                                                Calculate&nbsp;&nbsp;<i class="fa fa-calculator"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<!--Start Easy Section   ::: DESKTOP -->
<div class="row col-md-12 pb-300" style="background: rgb(222,221,219);
background: linear-gradient(90deg, rgba(222,221,219,1) 0%, rgba(255,254,253,1) 35%, rgba(222,221,219,1) 100%); margin-left: 0px; background-size:cover; background-position:center;" id="desktop">
    <!--start exness component-->
        <div class="col-md-12 pt-100 ">  
     <div class="card-footer text-center" style="background-color:transparent; color:#65088f; font-size:30px; border-top:none;border-bottom:none;">
         <span style="font-weight:bold;font-family: mont; font-size:40px;">It’s Easy to Sign Up and Send Money</span>
         <p>Start Sending Now </p>
        </div>
    </div>
    <!--end component-->
    <!--start component-->
    <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:10%; float:left; border:none;">  
        <div class="card-footer text-center" style="background-color:transparent; color:#65088f; border:none;">
         
        
           </div>
       </div>
       <!--end component-->
    
    <!--start component-->
    <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; float:left;border:none;">  
        <div class="card-footer text-center" style="background-color:transparent;border:none; color:#65088f;">
            <i class="fa fa-user-plus" style="font-size:60px;"></i><br>
          <span style="font-size:20px; font-family: mont;"> Register with K-Fx</span> 
           </div>
       </div>
       <!--end component-->

        <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%;  float:left;border:none;">
            <div class="card-footer text-center" style="background-color:transparent;border:none; color:#65088f;">
                <i class="fa fa-user-plus" style="font-size:60px; color:#fca900;"></i><br>
                <span style="font-size:20px; font-family: mont; color:#fca900;">  Add Recipient</span>
            </div>
            </div>
    


            <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%;  float:left;border:none;">
                <div class="card-footer text-center" style="background-color:transparent;border:none; color:#65088f;">
                    <i class="fa fa-shopping-cart" style="font-size:60px;"></i><br>
                    <span style="font-size:20px; font-family: mont;">    Place Order</span>
        
                </div>
                </div>

                <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; color:#65088f;  float:left;border:none;">
                    <div class="card-footer text-center" style="background-color:transparent; border:none;">
                        <i class="fa fa-money" style="font-size:60px; color:#65088f;"></i><br>
                        <span style="font-size:20px; font-family: mont;">    Collect Cash</span>
            
                    </div>
                    </div>


    </div>
    <!--End Easy Section   ::: DESKTOP  -->



<!--Start Easy Section   ::: MOBILE -->
<div class="row col-md-12 pb-200" style="background-color:rgb(222,221,219); margin-left: 0px; background-size:cover; background-position:center; padding-bottom:60px;" id="mobile">
    <!--start exness component-->
        <div class="col-md-12 pt-100 ">  
     <div class="card-footer text-center" style="background-color:transparent; color:#65088f; font-size:30px; border-top:none;border-bottom:none;">
         <span style="font-weight:bold;font-family: mont; font-size:20px; line-height:25px;">It’s Easy to Sign Up and Send Money</span>
         <p>Start Sending Now </p>
        </div>
    </div>
    <!--end component-->

    <table class="" border="0">
        <thead>
        <tr>
          <th width="30%">   <i class="fa fa-user-plus" style="font-size:40px;"></i><br>
            <span style="font-size:15px;">Register</span> 
        </th>
          <th width="30%">   <i class="fa fa-user-plus" style="font-size:40px; color:#fca900;"></i><br>
            <span style="font-size:15px;">Recipient</span></th>
          <th width="30%">   <i class="fa fa-shopping-cart" style="font-size:40px;"></i><br>
            <span style="font-size:15px;">Ordering</span></th>


            <th width="30%">   <i class="fa fa-money" style="font-size:40px; color:#65088f;"></i><br>
                <span style="font-size:15px; ">Collection</span></th>

        </tr>
        </thead>
        <tbody>
          <tr>
            <td width="30%"></td>
            <td width="30%"></td>
            <td width="30%"></td>
          </tr>
         
        </tbody>
        </table>

    </div>
    <!--End Easy Section   ::: MOBILE  -->



<!--start videos section ::: DESKTOP -->
<div class="row col-md-12 pb-200" style="background:url('assets/img/bgg.jpg'); margin-left: 0px;background-size:cover; background-position: right; position: relative; padding-bottom:400px ! important;" id="desktop">
    <!--start exness component-->
        <div class="col-md-12 pt-100 ">  
     <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none; font-size:30px;">
        <span style="color: #fca900; font-weight:bold; font-family: mont; font-size:40px;" class="has-inline-color">
            Our Video Collection</span>
        </div>
    </div>
    <!--end component-->

    <!--start component-->
    <div class="col-md-3" style="padding-right:0px; padding-left:0px; float:left; border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px; ">  
        <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none;">
          
            <iframe width="100%" height="auto"
            src="https://brandfolder.com/brandfolder/attachments/embed/p78mxcfq9hgq8zrxpqj7nb8p?loop=false&muted=false&autoplay=false">
            </iframe>
            Trading faster like never before
           </div>
       </div>
       <!--end component-->



            <div class="col-md-3" style="padding-right:0px; padding-left:0px; float:left; border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px;">
                <div class="card-footer text-center" style="background-color:transparent; color:#fff;border-top:none; border-bottom:none;">
                    <iframe width="100%" height="auto"
                    src="https://brandfolder.com/brandfolder/attachments/embed/4xk4q7n76rrhwtc7m82qqbwx?loop=false&muted=false&autoplay=false">
                    </iframe>
                    Trade Stocks |  Gold
                </div>
                </div>

                <div class="col-md-3" style="padding-right:0px; padding-left:0px; float:left;border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px; ">
                    <div class="card-footer text-center" style="background-color:transparent; color:#fff;border-top:none; border-bottom:none;">
                        <iframe width="100%" height="auto"
                        src="https://brandfolder.com/brandfolder/attachments/embed/r8cm8sp579rnngwkgsrq67cq?loop=false&muted=false&autoplay=false">
                        </iframe>
                        Trade Oil
                    </div>
                    </div>



                <div class="col-md-3" style="padding-right:0px; padding-left:0px; color:#fff; float:left; border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px;">
                    <div class="card-footer text-center" style="background-color:transparent;border-top:none; border-bottom:none;">
                        <iframe width="100%" height="auto"
                        src="https://brandfolder.com/brandfolder/attachments/embed/p78mxcfq9hgq8zrxpqj7nb8p?loop=false&muted=false&autoplay=false">
                        </iframe>
            Trading Like Never Before
                    </div>
                    </div>

                    <div class="col-md-3" style="padding-right:0px; padding-left:0px; float:left; border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px;">
                        <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none;">
                            <iframe width="100%" height="auto"
                            src="https://brandfolder.com/brandfolder/attachments/embed/7xq5wk2qfqxg4f3sk6f2q2t?loop=false&muted=false&autoplay=false">
                            </iframe>
                            Time is Money
                        </div>
                        </div>
        
                        <div class="col-md-3" style="padding-right:0px; padding-left:0px; color:#fff; float:left; border:1px dotted rgba(255,255,255,0.3); margin-left:20px; margin-top:20px;">
                            <div class="card-footer text-center" style="background-color:transparent; border-top:none; border-bottom:none;">
                                <iframe width="100%" height="auto"
                                src="https://brandfolder.com/brandfolder/attachments/embed/nggnswsrzp9phgwhqvsw9f?loop=false&muted=false&autoplay=false">
                                </iframe>
                    Lower your Trading Costs
                            </div>
                            </div>





                              



                       

<br><br><br><br><br><br><br><br>
<div style="height:120px ! important;  float:left; width:100%;">&nbsp;</div>

    </div>
    <!--end videos section  ::: DESKTOP -->


<!--start collection points section ::: DESKTOP -->
<div class="row col-md-12 pb-200" style="background-color: #fff; margin-left: 0px;background-size:cover; position: relative; padding-bottom:200px ! important;" id="desktop">
    <!--start exness component-->
        <div class="col-md-12 pt-100 ">  
     <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none; font-size:30px;">
        <span style="color: #65088f; font-weight:bold; font-family: mont; font-size:40px;" class="has-inline-color">
            Our Cash Collection Points</span>
        </div>
    </div>
    <!--end component-->

    <!--start component-->
    <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; float:left; ">  
        <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none;">
           <img src="assets/img/hela.jpg" style="width:80%;">
           
           </div>
       </div>
       <!--end component-->



            <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; float:left; ">
                <div class="card-footer text-center" style="background-color:transparent; color:#fff;border-top:none; border-bottom:none;">
                    <img src="assets/img/daswa.png" style="width:80%;">
                </div>
                </div>

                <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; float:left; ">
                    <div class="card-footer text-center" style="background-color:transparent; color:#fff;border-top:none; border-bottom:none;">
                        <img src="assets/img/hela.png" style="width:80%; margin-top:15px;">
                    </div>
                    </div>



                <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; color:#fff; float:left;">
                    <div class="card-footer text-center" style="background-color:transparent;border-top:none; border-bottom:none;">
                        <img src="assets/img/eco-cash.png" width="80%" style="margin-top:20px;">
            
                    </div>
                    </div>

                    <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; float:left;">
                        <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none;">
                            <img src="assets/img/design.png" width="80%">
                        </div>
                        </div>
        
                        <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; color:#fff; float:left;">
                            <div class="card-footer text-center" style="background-color:transparent; border-top:none; border-bottom:none;">
                                <img src="assets/img/zen2.png" width="80%">
                    
                            </div>
                            </div>


                            <div class="col-md-2" style="padding-right:0px; padding-left:0px; max-width:20%; color:#fff;float:left; ">
                                <div class="card-footer text-center" style="background-color:transparent; border-top:none; border-bottom:none;">
                                    <img src="assets/img/mart.png" width="80%">
                        
                                </div>
                                </div>

<br><br><br><br><br><br><br><br>

    </div>
    <!--end collection points section  ::: DESKTOP -->



    <!--start collection points section ::: MOBILE -->
<div class="row col-md-12 pb-200" style="background-color: #fff; margin-left: 0px;background-size:cover; position: relative; bottom: 0;" id="mobile" >
    <!--start exness component-->
        <div class="col-md-12 pt-100 ">  
     <div class="card-footer text-center" style="background-color:transparent; color:#fff; border-top:none; border-bottom:none; font-size:20px;">
        <span style="color: #fca900; font-weight:bold; font-family: mont; font-size:20px;" class="has-inline-color">
            Our Cash Collection Points</span>
        </div>
    </div>
    <!--end component-->
    <div class="container">
          <table class="" border="0">
            <thead>
            <tr>
              <th width="30%"> <img src="assets/img/daswa.png" style="width:100%;"></th>
              <th width="30%"> <img src="assets/img/design.png" width="100%"></th>
              <th width="30%"> <img src="assets/img/zen2.png" width="100%"></th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td width="30%">    <img src="assets/img/eco-cash.png" width="100%"></td>
                <td width="30%">    <img src="assets/img/hela.jpg" style="width:100%;"></td>
                <td width="30%"> <img src="assets/img/mart.png" width="100%"></td>
              </tr>
             

              <tr>
                <td width="30%"> </td>
                <td width="30%"> <img src="assets/img/hela.png" style="width:100%;"></td>
                <td width="30%"> </td>
              </tr>

            </tbody>
            </table>
      </div>

    </div>
    <!--end collection points section ::: MOBILE -->